In [1]:
#!pip install python-edgar

In [11]:
import edgar
import webbrowser
import pandas as pd

In [2]:
edgar.download_index(r'C:\Users\Sayandeep Ghosh\Desktop\SEC_scraping', 2020,skip_all_present_except_last=False)

In [3]:
selectedcompany = 'AMAZON COM INC'
selectedreport = '10-Q'

In [4]:
csv = pd.read_csv('2020-QTR4.tsv', sep='\t',  lineterminator='\n', names=None)

In [5]:
csv.columns.values[0] = 'Item'

In [6]:
companyreport = csv[(csv['Item'].str.contains(selectedcompany)) & (csv['Item'].str.contains(selectedreport))]

In [7]:
Filing = companyreport['Item'].str.split('|')
Filing = Filing.to_list()

In [8]:
for item in Filing[0]:
    print(item)
    if 'html' in item:
        report = item

1018724
AMAZON COM INC
10-Q
2020-10-30
edgar/data/1018724/0001018724-20-000030.txt
edgar/data/1018724/0001018724-20-000030-index.html

In [9]:
url = 'https://www.sec.gov/Archives/' + report
print(url)

https://www.sec.gov/Archives/edgar/data/1018724/0001018724-20-000030-index.html

In [14]:
df = pd.read_html(url)

document_index = df[0]
document_index = document_index.dropna()

In [15]:
document_name = document_index[document_index['Description'].str.contains(selectedreport)]
document_name = document_name['Document'].str.split(' ')
document_name = document_name[0][0]

In [16]:
report_formatted = report.replace('-','').replace('index.html\r','')
report_formatted

'edgar/data/1018724/000101872420000030'

In [17]:
url = 'https://www.sec.gov/Archives/' + report_formatted + '/' + document_name

In [18]:
print(url)

https://www.sec.gov/Archives/edgar/data/1018724/000101872420000030/amzn-20200930.htm

In [20]:
df = pd.read_html(url)
df

[     0    1    2                                                  3  \
 0  NaN  NaN  NaN                                                NaN
 1    ☒    ☒    ☒  QUARTERLY REPORT PURSUANT TO SECTION 13 OR 15(...

                                                    4  \
 0                                                NaN
 1  QUARTERLY REPORT PURSUANT TO SECTION 13 OR 15(...

                                                    5
 0                                                NaN
 1  QUARTERLY REPORT PURSUANT TO SECTION 13 OR 15(...  ,
      0    1    2                                                  3  \
 0  NaN  NaN  NaN                                                NaN
 1    ☐    ☐    ☐  TRANSITION REPORT PURSUANT TO SECTION 13 OR 15...

                                                    4  \
 0                                                NaN
 1  TRANSITION REPORT PURSUANT TO SECTION 13 OR 15...

                                                    5
 0                                                NaN
 1  TRANSITION REPORT PURSUANT TO SECTION 13 OR 15...  ,
                                                    0  \
 0                                                NaN
 1                                           Delaware
 2  (State or other jurisdiction ofincorporation o...

                                                    1  \
 0                                                NaN
 1                                           Delaware
 2  (State or other jurisdiction ofincorporation o...

                                                    2   3   4   5  \
 0                                                NaN NaN NaN NaN
 1                                           Delaware NaN NaN NaN
 2  (State or other jurisdiction ofincorporation o... NaN NaN NaN

                                      6                                    7  \
 0                                  NaN                                  NaN
 1                           91-1646860                           91-1646860
 2  (I.R.S. EmployerIdentification No.)  (I.R.S. EmployerIdentification No.)

                                      8
 0                                  NaN
 1                           91-1646860
 2  (I.R.S. EmployerIdentification No.)  ,
                                         0  \
 0                                     NaN
 1                     Title of Each Class
 2  Common Stock, par value $.01 per share

                                         1  \
 0                                     NaN
 1                     Title of Each Class
 2  Common Stock, par value $.01 per share

                                         2                  3  \
 0                                     NaN                NaN
 1                     Title of Each Class  Trading Symbol(s)
 2  Common Stock, par value $.01 per share               AMZN

                    4                  5  \
 0                NaN                NaN
 1  Trading Symbol(s)  Trading Symbol(s)
 2               AMZN               AMZN

                                            6  \
 0                                        NaN
 1  Name of Each Exchange on Which Registered
 2                Nasdaq Global Select Market

                                            7  \
 0                                        NaN
 1  Name of Each Exchange on Which Registered
 2                Nasdaq Global Select Market

                                            8
 0                                        NaN
 1  Name of Each Exchange on Which Registered
 2                Nasdaq Global Select Market  ,
                         0                        1                        2   \
 0                      NaN                      NaN                      NaN
 1  Large accelerated filer  Large accelerated filer  Large accelerated filer
 2                      NaN                      NaN                      NaN
 3    Non-accelerated filer    Non-accelerated filer    Non-accelerated filer
 4                      NaN                      NaN                      NaN
 5                      NaN                      NaN                      NaN

    3   4   5    6    7    8                          9   \
 0 NaN NaN NaN  NaN  NaN  NaN                        NaN
 1 NaN NaN NaN    ☒    ☒    ☒          Accelerated filer
 2 NaN NaN NaN  NaN  NaN  NaN                        NaN
 3 NaN NaN NaN    ☐    ☐    ☐  Smaller reporting company
 4 NaN NaN NaN  NaN  NaN  NaN                        NaN
 5 NaN NaN NaN  NaN  NaN  NaN    Emerging growth company

                           10                         11  12  13  14   15   16  \
 0                        NaN                        NaN NaN NaN NaN  NaN  NaN
 1          Accelerated filer          Accelerated filer NaN NaN NaN    ☐    ☐
 2                        NaN                        NaN NaN NaN NaN  NaN  NaN
 3  Smaller reporting company  Smaller reporting company NaN NaN NaN    ☐    ☐
 4                        NaN                        NaN NaN NaN NaN  NaN  NaN
 5    Emerging growth company    Emerging growth company NaN NaN NaN    ☐    ☐

     17
 0  NaN
 1    ☐
 2  NaN
 3    ☐
 4  NaN
 5    ☐  ,
                                 0                              1  \
 0                             NaN                            NaN
 1                             NaN                            NaN
 2   PART I. FINANCIAL INFORMATION  PART I. FINANCIAL INFORMATION
 3                         Item 1.                        Item 1.
 4                             NaN                            NaN
 5                             NaN                            NaN
 6                             NaN                            NaN
 7                             NaN                            NaN
 8                             NaN                            NaN
 9                         Item 2.                        Item 2.
 10                        Item 3.                        Item 3.
 11                        Item 4.                        Item 4.
 12                            NaN                            NaN
 13     PART II. OTHER INFORMATION     PART II. OTHER INFORMATION
 14                        Item 1.                        Item 1.
 15                       Item 1A.                       Item 1A.
 16                        Item 2.                        Item 2.
 17                        Item 3.                        Item 3.
 18                        Item 4.                        Item 4.
 19                        Item 5.                        Item 5.
 20                        Item 6.                        Item 6.
 21                     Signatures                     Signatures

                                 2  \
 0                             NaN
 1                             NaN
 2   PART I. FINANCIAL INFORMATION
 3                         Item 1.
 4                             NaN
 5                             NaN
 6                             NaN
 7                             NaN
 8                             NaN
 9                         Item 2.
 10                        Item 3.
 11                        Item 4.
 12                            NaN
 13     PART II. OTHER INFORMATION
 14                        Item 1.
 15                       Item 1A.
 16                        Item 2.
 17                        Item 3.
 18                        Item 4.
 19                        Item 5.
 20                        Item 6.
 21                     Signatures

                                                     3  \
 0                                                 NaN
 1                                                 NaN
 2                       PART I. FINANCIAL INFORMATION
 3                                Financial Statements
 4               Consolidated Statements of Cash Flows
 5               Consolidated Statements of Operations
 6     Consolidated Statements of Comprehensive Income
 7                         Consolidated Balance Sheets
 8          Notes to Consolidated Financial Statements
 9   Management’s Discussion and Analysis of Financ...
 10  Quantitative and Qualitative Disclosures About...
 11                            Controls and Procedures
 12                                                NaN
 13                         PART II. OTHER INFORMATION
 14                                  Legal Proceedings
 15                                       Risk Factors
 16  Unregistered Sales of Equity Securities and Us...
 17                    Defaults Upon Senior Securities
 18                            Mine Safety Disclosures
 19                                  Other Information
 20                                           Exhibits
 21                                         Signatures

                                                     4  \
 0                                                 NaN
 1                                                 NaN
 2                       PART I. FINANCIAL INFORMATION
 3                                Financial Statements
 4               Consolidated Statements of Cash Flows
 5               Consolidated Statements of Operations
 6     Consolidated Statements of Comprehensive Income
 7                         Consolidated Balance Sheets
 8          Notes to Consolidated Financial Statements
 9   Management’s Discussion and Analysis of Financ...
 10  Quantitative and Qualitative Disclosures About...
 11                            Controls and Procedures
 12                                                NaN
 13                         PART II. OTHER INFORMATION
 14                                  Legal Proceedings
 15                                       Risk Factors
 16  Unregistered Sales of Equity Securities and Us...
 17                    Defaults Upon Senior Securities
 18                            Mine Safety Disclosures
 19                                  Other Information
 20                                           Exhibits
 21                                         Signatures

                                                     5     6     7     8
 0                                                 NaN   NaN   NaN   NaN
 1                                                 NaN  Page  Page  Page
 2                       PART I. FINANCIAL INFORMATION   NaN   NaN   NaN
 3                                Financial Statements     3     3     3
 4               Consolidated Statements of Cash Flows     3     3     3
 5               Consolidated Statements of Operations     4     4     4
 6     Consolidated Statements of Comprehensive Income     5     5     5
 7                         Consolidated Balance Sheets     6     6     6
 8          Notes to Consolidated Financial Statements     7     7     7
 9   Management’s Discussion and Analysis of Financ...    19    19    19
 10  Quantitative and Qualitative Disclosures About...    32    32    32
 11                            Controls and Procedures    33    33    33
 12                                                NaN   NaN   NaN   NaN
 13                         PART II. OTHER INFORMATION   NaN   NaN   NaN
 14                                  Legal Proceedings    34    34    34
 15                                       Risk Factors    34    34    34
 16  Unregistered Sales of Equity Securities and Us...    44    44    44
 17                    Defaults Upon Senior Securities    44    44    44
 18                            Mine Safety Disclosures    44    44    44
 19                                  Other Information    44    44    44
 20                                           Exhibits    45    45    45
 21                                         Signatures    46    46    46  ,
          0        1        2                     3                     4  \
 0      NaN      NaN      NaN                   NaN                   NaN
 1  Item 1.  Item 1.  Item 1.  Financial Statements  Financial Statements

                       5
 0                   NaN
 1  Financial Statements  ,
                                                    0   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3   CASH, CASH EQUIVALENTS, AND RESTRICTED CASH, B...
 4                               OPERATING ACTIVITIES:
 5                                          Net income
 6   Adjustments to reconcile net income to net cas...
 7   Depreciation and amortization of property and ...
 8                            Stock-based compensation
 9               Other operating expense (income), net
 10                        Other expense (income), net
 11                              Deferred income taxes
 12       Changes in operating assets and liabilities:
 13                                        Inventories
 14                 Accounts receivable, net and other
 15                                   Accounts payable
 16                         Accrued expenses and other
 17                                   Unearned revenue
 18  Net cash provided by (used in) operating activ...
 19                              INVESTING ACTIVITIES:
 20                Purchases of property and equipment
 21  Proceeds from property and equipment sales and...
 22      Acquisitions, net of cash acquired, and other
 23      Sales and maturities of marketable securities
 24                 Purchases of marketable securities
 25  Net cash provided by (used in) investing activ...
 26                              FINANCING ACTIVITIES:
 27                                                NaN
 28           Proceeds from short-term debt, and other
 29           Repayments of short-term debt, and other
 30                       Proceeds from long-term debt
 31                       Repayments of long-term debt
 32             Principal repayments of finance leases
 33      Principal repayments of financing obligations
 34  Net cash provided by (used in) financing activ...
 35  Foreign currency effect on cash, cash equivale...
 36  Net increase (decrease) in cash, cash equivale...
 37  CASH, CASH EQUIVALENTS, AND RESTRICTED CASH, E...

                                                    1   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3   CASH, CASH EQUIVALENTS, AND RESTRICTED CASH, B...
 4                               OPERATING ACTIVITIES:
 5                                          Net income
 6   Adjustments to reconcile net income to net cas...
 7   Depreciation and amortization of property and ...
 8                            Stock-based compensation
 9               Other operating expense (income), net
 10                        Other expense (income), net
 11                              Deferred income taxes
 12       Changes in operating assets and liabilities:
 13                                        Inventories
 14                 Accounts receivable, net and other
 15                                   Accounts payable
 16                         Accrued expenses and other
 17                                   Unearned revenue
 18  Net cash provided by (used in) operating activ...
 19                              INVESTING ACTIVITIES:
 20                Purchases of property and equipment
 21  Proceeds from property and equipment sales and...
 22      Acquisitions, net of cash acquired, and other
 23      Sales and maturities of marketable securities
 24                 Purchases of marketable securities
 25  Net cash provided by (used in) investing activ...
 26                              FINANCING ACTIVITIES:
 27                                                NaN
 28           Proceeds from short-term debt, and other
 29           Repayments of short-term debt, and other
 30                       Proceeds from long-term debt
 31                       Repayments of long-term debt
 32             Principal repayments of finance leases
 33      Principal repayments of financing obligations
 34  Net cash provided by (used in) financing activ...
 35  Foreign currency effect on cash, cash equivale...
 36  Net increase (decrease) in cash, cash equivale...
 37  CASH, CASH EQUIVALENTS, AND RESTRICTED CASH, E...

                                                    2   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3   CASH, CASH EQUIVALENTS, AND RESTRICTED CASH, B...
 4                               OPERATING ACTIVITIES:
 5                                          Net income
 6   Adjustments to reconcile net income to net cas...
 7   Depreciation and amortization of property and ...
 8                            Stock-based compensation
 9               Other operating expense (income), net
 10                        Other expense (income), net
 11                              Deferred income taxes
 12       Changes in operating assets and liabilities:
 13                                        Inventories
 14                 Accounts receivable, net and other
 15                                   Accounts payable
 16                         Accrued expenses and other
 17                                   Unearned revenue
 18  Net cash provided by (used in) operating activ...
 19                              INVESTING ACTIVITIES:
 20                Purchases of property and equipment
 21  Proceeds from property and equipment sales and...
 22      Acquisitions, net of cash acquired, and other
 23      Sales and maturities of marketable securities
 24                 Purchases of marketable securities
 25  Net cash provided by (used in) investing activ...
 26                              FINANCING ACTIVITIES:
 27                                                NaN
 28           Proceeds from short-term debt, and other
 29           Repayments of short-term debt, and other
 30                       Proceeds from long-term debt
 31                       Repayments of long-term debt
 32             Principal repayments of finance leases
 33      Principal repayments of financing obligations
 34  Net cash provided by (used in) financing activ...
 35  Foreign currency effect on cash, cash equivale...
 36  Net increase (decrease) in cash, cash equivale...
 37  CASH, CASH EQUIVALENTS, AND RESTRICTED CASH, E...

                                  3                                4   \
 0                               NaN                              NaN
 1   Three Months EndedSeptember 30,  Three Months EndedSeptember 30,
 2                              2019                             2019
 3                                 $                            22965
 4                               NaN                              NaN
 5                              2134                             2134
 6                               NaN                              NaN
 7                              5563                             5563
 8                              1779                             1779
 9                                47                               47
 10                              388                              388
 11                               92                               92
 12                              NaN                              NaN
 13                            (381)                            (381)
 14                          (1,181)                          (1,181)
 15                              226                              226
 16                            (722)                            (722)
 17                             (53)                             (53)
 18                             7892                             7892
 19                              NaN                              NaN

In [21]:
for item in df:
    BS = item[0].astype(str).str.contains('Retained') | item[0].astype(str).str.contains('Total Assets') | item[0].astype(str).str.contains('Current Assets')
    if BS.any():
        Balance_Sheet = item

Balance_Sheet

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,"December 31, 2019","December 31, 2019","December 31, 2019",NaN,NaN,NaN,"September 30, 2020","September 30, 2020","September 30, 2020"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(unaudited),(unaudited),(unaudited)
3,ASSETS,ASSETS,ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Current assets:,Current assets:,Current assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cash and cash equivalents,Cash and cash equivalents,Cash and cash equivalents,$,36092,NaN,NaN,NaN,NaN,$,29930,NaN
6,Marketable securities,Marketable securities,Marketable securities,18929,18929,NaN,NaN,NaN,NaN,38472,38472,NaN
7,Inventories,Inventories,Inventories,20497,20497,NaN,NaN,NaN,NaN,23735,23735,NaN
8,"Accounts receivable, net and other","Accounts receivable, net and other","Accounts receivable, net and other",20816,20816,NaN,NaN,NaN,NaN,20832,20832,NaN
9,Total current assets,Total current assets,Total current assets,96334,96334,NaN,NaN,NaN,NaN,112969,112969,NaN
10,"Property and equipment, net","Property and equipment, net","Property and equipment, net",72705,72705,NaN,NaN,NaN,NaN,99981,99981,NaN
11,Operating leases,Operating leases,Operating leases,25141,25141,NaN,NaN,NaN,NaN,34119,34119,NaN
12,Goodwill,Goodwill,Goodwill,14754,14754,NaN,NaN,NaN,NaN,14960,14960,NaN
13,Other assets,Other assets,Other assets,16314,16314,NaN,NaN,NaN,NaN,20150,20150,NaN
14,Total assets,Total assets,Total assets,$,225248,NaN,NaN,NaN,NaN,$,282179,NaN
15,LIABILITIES AND STOCKHOLDERS’ EQUITY,LIABILITIES AND STOCKHOLDERS’ EQUITY,LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Current liabilities:,Current liabilities:,Current liabilities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Accounts payable,Accounts payable,Accounts payable,$,47183,NaN,NaN,NaN,NaN,$,58334,NaN
18,Accrued expenses and other,Accrued expenses and other,Accrued expenses and other,32439,32439,NaN,NaN,NaN,NaN,34327,34327,NaN
19,Unearned revenue,Unearned revenue,Unearned revenue,8190,8190,NaN,NaN,NaN,NaN,9251,9251,NaN
20,Total current liabilities,Total current liabilities,Total current liabilities,87812,87812,NaN,NaN,NaN,NaN,101912,101912,NaN
21,Long-term lease liabilities,Long-term lease liabilities,Long-term lease liabilities,39791,39791,NaN,NaN,NaN,NaN,48589,48589,NaN
22,Long-term debt,Long-term debt,Long-term debt,23414,23414,NaN,NaN,NaN,NaN,32929,32929,NaN
23,Other long-term liabilities,Other long-term liabilities,Other long-term liabilities,12171,12171,NaN,NaN,NaN,NaN,15974,15974,NaN
24,Commitments and contingencies (Note 4),Commitments and contingencies (Note 4),Commitments and contingencies (Note 4),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Stockholders’ equity:,Stockholders’ equity:,Stockholders’ equity:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Preferred stock, $0.01 par value:","Preferred stock, $0.01 par value:","Preferred stock, $0.01 par value:",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Authorized shares — 500,Authorized shares — 500,Authorized shares — 500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Issued and outstanding shares — none,Issued and outstanding shares — none,Issued and outstanding shares — none,—,—,NaN,NaN,NaN,NaN,—,—,NaN
29,"Common stock, $0.01 par value:","Common stock, $0.01 par value:","Common stock, $0.01 par value:",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"Authorized shares — 5,000","Authorized shares — 5,000","Authorized shares — 5,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Issued shares — 521 and 525,Issued shares — 521 and 525,Issued shares — 521 and 525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Outstanding shares — 498 and 502,Outstanding shares — 498 and 502,Outstanding shares — 498 and 502,5,5,NaN,NaN,NaN,NaN,5,5,NaN
33,"Treasury stock, at cost","Treasury stock, at cost","Treasury stock, at cost","(1,837)","(1,837)",NaN,NaN,NaN,NaN,"(1,837)","(1,837)",NaN
34,Additional paid-in capital,Additional paid-in capital,Additional paid-in capital,33658,33658,NaN,NaN,NaN,NaN,40307,40307,NaN
35,Accumulated other comprehensive income (loss),Accumulated other comprehensive income (loss),Accumulated other comprehensive income (loss),(986),(986),NaN,NaN,NaN,NaN,"(1,029)","(1,029)",NaN
36,Retained earnings,Retained earnings,Retained earnings,31220,31220,NaN,NaN,NaN,NaN,45329,45329,NaN
37,Total stockholders’ equity,Total stockholders’ equity,Total stockholders’ equity,62060,62060,NaN,NaN,NaN,NaN,82775,82775,NaN
38,Total liabilities and stockholders’ equity,Total liabilities and stockholders’ equity,Total liabilities and stockholders’ equity,$,225248,NaN,NaN,NaN,NaN,$,282179,NaN

In [22]:
Balance_Sheet = Balance_Sheet.iloc[1:,[1,4,10]]
Balance_Sheet

,1,4,10
1,NaN,"December 31, 2019","September 30, 2020"
2,NaN,NaN,(unaudited)
3,ASSETS,NaN,NaN
4,Current assets:,NaN,NaN
5,Cash and cash equivalents,36092,29930
6,Marketable securities,18929,38472
7,Inventories,20497,23735
8,"Accounts receivable, net and other",20816,20832
9,Total current assets,96334,112969
10,"Property and equipment, net",72705,99981
11,Operating leases,25141,34119
12,Goodwill,14754,14960
13,Other assets,16314,20150
14,Total assets,225248,282179
15,LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN
16,Current liabilities:,NaN,NaN
17,Accounts payable,47183,58334
18,Accrued expenses and other,32439,34327
19,Unearned revenue,8190,9251
20,Total current liabilities,87812,101912
21,Long-term lease liabilities,39791,48589
22,Long-term debt,23414,32929
23,Other long-term liabilities,12171,15974
24,Commitments and contingencies (Note 4),NaN,NaN
25,Stockholders’ equity:,NaN,NaN
26,"Preferred stock, $0.01 par value:",NaN,NaN
27,Authorized shares — 500,NaN,NaN
28,Issued and outstanding shares — none,—,—
29,"Common stock, $0.01 par value:",NaN,NaN
30,"Authorized shares — 5,000",NaN,NaN
31,Issued shares — 521 and 525,NaN,NaN
32,Outstanding shares — 498 and 502,5,5
33,"Treasury stock, at cost","(1,837)","(1,837)"
34,Additional paid-in capital,33658,40307
35,Accumulated other comprehensive income (loss),(986),"(1,029)"
36,Retained earnings,31220,45329
37,Total stockholders’ equity,62060,82775
38,Total liabilities and stockholders’ equity,225248,282179

In [23]:
#grab the first row for the header
header = Balance_Sheet.iloc[0]
Balance_Sheet = Balance_Sheet[2:] #take the data less the header row
Balance_Sheet.columns = header
Balance_Sheet.columns.values[0] = 'Item'
Balance_Sheet

1,Item,"December 31, 2019","September 30, 2020"
3,ASSETS,NaN,NaN
4,Current assets:,NaN,NaN
5,Cash and cash equivalents,36092,29930
6,Marketable securities,18929,38472
7,Inventories,20497,23735
8,"Accounts receivable, net and other",20816,20832
9,Total current assets,96334,112969
10,"Property and equipment, net",72705,99981
11,Operating leases,25141,34119
12,Goodwill,14754,14960
13,Other assets,16314,20150
14,Total assets,225248,282179
15,LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN
16,Current liabilities:,NaN,NaN
17,Accounts payable,47183,58334
18,Accrued expenses and other,32439,34327
19,Unearned revenue,8190,9251
20,Total current liabilities,87812,101912
21,Long-term lease liabilities,39791,48589
22,Long-term debt,23414,32929
23,Other long-term liabilities,12171,15974
24,Commitments and contingencies (Note 4),NaN,NaN
25,Stockholders’ equity:,NaN,NaN
26,"Preferred stock, $0.01 par value:",NaN,NaN
27,Authorized shares — 500,NaN,NaN
28,Issued and outstanding shares — none,—,—
29,"Common stock, $0.01 par value:",NaN,NaN
30,"Authorized shares — 5,000",NaN,NaN
31,Issued shares — 521 and 525,NaN,NaN
32,Outstanding shares — 498 and 502,5,5
33,"Treasury stock, at cost","(1,837)","(1,837)"
34,Additional paid-in capital,33658,40307
35,Accumulated other comprehensive income (loss),(986),"(1,029)"
36,Retained earnings,31220,45329
37,Total stockholders’ equity,62060,82775
38,Total liabilities and stockholders’ equity,225248,282179

In [24]:
def symbol_handling(DF,cols):
    for col in cols:
        DF[DF.columns[col:]] = DF[DF.columns[col:]].astype(str)

        DF[DF.columns[col]] = DF[DF.columns[col]].map(lambda x: x.replace('(','-'))
        DF[DF.columns[col]] = DF[DF.columns[col]].map(lambda x: x.replace(')',''))
        DF[DF.columns[col]] = DF[DF.columns[col]].map(lambda x: x.replace(',',''))
        DF[DF.columns[col]] = DF[DF.columns[col]].map(lambda x: x.replace('—','nan'))
        
    DF[DF.columns[1:]] = DF[DF.columns[1:]].astype(float)
    return DF

In [25]:
symbol_handling(Balance_Sheet,[1,2])

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1,Item,"December 31, 2019","September 30, 2020"
3,ASSETS,NaN,NaN
4,Current assets:,NaN,NaN
5,Cash and cash equivalents,36092.0,29930.0
6,Marketable securities,18929.0,38472.0
7,Inventories,20497.0,23735.0
8,"Accounts receivable, net and other",20816.0,20832.0
9,Total current assets,96334.0,112969.0
10,"Property and equipment, net",72705.0,99981.0
11,Operating leases,25141.0,34119.0
12,Goodwill,14754.0,14960.0
13,Other assets,16314.0,20150.0
14,Total assets,225248.0,282179.0
15,LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN
16,Current liabilities:,NaN,NaN
17,Accounts payable,47183.0,58334.0
18,Accrued expenses and other,32439.0,34327.0
19,Unearned revenue,8190.0,9251.0
20,Total current liabilities,87812.0,101912.0
21,Long-term lease liabilities,39791.0,48589.0
22,Long-term debt,23414.0,32929.0
23,Other long-term liabilities,12171.0,15974.0
24,Commitments and contingencies (Note 4),NaN,NaN
25,Stockholders’ equity:,NaN,NaN
26,"Preferred stock, $0.01 par value:",NaN,NaN
27,Authorized shares — 500,NaN,NaN
28,Issued and outstanding shares — none,NaN,NaN
29,"Common stock, $0.01 par value:",NaN,NaN
30,"Authorized shares — 5,000",NaN,NaN
31,Issued shares — 521 and 525,NaN,NaN
32,Outstanding shares — 498 and 502,5.0,5.0
33,"Treasury stock, at cost",-1837.0,-1837.0
34,Additional paid-in capital,33658.0,40307.0
35,Accumulated other comprehensive income (loss),-986.0,-1029.0
36,Retained earnings,31220.0,45329.0
37,Total stockholders’ equity,62060.0,82775.0
38,Total liabilities and stockholders’ equity,225248.0,282179.0

In [26]:
# Balance_Sheet[Balance_Sheet.columns[1:]] = Balance_Sheet[Balance_Sheet.columns[1:]].astype(str)

# Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace('(','-'))
# Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace(')',''))
# Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace(',',''))
# Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace('—','nan'))

# Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace('(','-'))
# Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace(')',''))
# Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace(',',''))
# Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace('—','nan'))

In [27]:
#Balance_Sheet[Balance_Sheet.columns[1:]] = Balance_Sheet[Balance_Sheet.columns[1:]].astype(float)
# Balance_Sheet[Balance_Sheet.columns[0:1]] = Balance_Sheet[Balance_Sheet.columns[0:1]].astype(str)

In [28]:
Balance_Sheet.dtypes

1
Item                   object
December 31, 2019     float64
September 30, 2020    float64
dtype: object

In [29]:
for item in df:
    LL = item[0].astype(str).str.contains('Less: imputed interest') | item[0].astype(str).str.contains('Less: current portion of lease liabilities')
    if LL.any():
        Lease_liability = item

Lease_liability

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,"September 30, 2020","September 30, 2020","September 30, 2020","September 30, 2020","September 30, 2020","September 30, 2020","September 30, 2020","September 30, 2020","September 30, 2020","September 30, 2020","September 30, 2020","September 30, 2020","September 30, 2020","September 30, 2020","September 30, 2020"
2,NaN,NaN,NaN,Operating Leases,Operating Leases,Operating Leases,NaN,NaN,NaN,Finance Leases,Finance Leases,Finance Leases,NaN,NaN,NaN,Total,Total,Total
3,Gross lease liabilities,Gross lease liabilities,Gross lease liabilities,$,42014,NaN,NaN,NaN,NaN,$,29801,NaN,NaN,NaN,NaN,$,71815,NaN
4,Less: imputed interest,Less: imputed interest,Less: imputed interest,"(6,759)","(6,759)",NaN,NaN,NaN,NaN,"(2,051)","(2,051)",NaN,NaN,NaN,NaN,"(8,810)","(8,810)",NaN
5,Present value of lease liabilities,Present value of lease liabilities,Present value of lease liabilities,35255,35255,NaN,NaN,NaN,NaN,27750,27750,NaN,NaN,NaN,NaN,63005,63005,NaN
6,Less: current portion of lease liabilities,Less: current portion of lease liabilities,Less: current portion of lease liabilities,"(4,156)","(4,156)",NaN,NaN,NaN,NaN,"(10,260)","(10,260)",NaN,NaN,NaN,NaN,"(14,416)","(14,416)",NaN
7,Total long-term lease liabilities,Total long-term lease liabilities,Total long-term lease liabilities,$,31099,NaN,NaN,NaN,NaN,$,17490,NaN,NaN,NaN,NaN,$,48589,NaN

In [30]:
Lease_liability = Lease_liability.iloc[1:,[2,4,10,16]] # selecting the  relevant columns
Lease_liability

,2,4,10,16
1,NaN,"September 30, 2020","September 30, 2020","September 30, 2020"
2,NaN,Operating Leases,Finance Leases,Total
3,Gross lease liabilities,42014,29801,71815
4,Less: imputed interest,"(6,759)","(2,051)","(8,810)"
5,Present value of lease liabilities,35255,27750,63005
6,Less: current portion of lease liabilities,"(4,156)","(10,260)","(14,416)"
7,Total long-term lease liabilities,31099,17490,48589

In [31]:
#grab the first row for the header
header = Lease_liability.iloc[1]
Lease_liability = Lease_liability[2:] #take the data less the header row
Lease_liability.columns = header # assigning header names 
Lease_liability.columns.values[0] = 'Item' # renaming the first column
Lease_liability

2,Item,Operating Leases,Finance Leases,Total
3,Gross lease liabilities,42014,29801,71815
4,Less: imputed interest,"(6,759)","(2,051)","(8,810)"
5,Present value of lease liabilities,35255,27750,63005
6,Less: current portion of lease liabilities,"(4,156)","(10,260)","(14,416)"
7,Total long-term lease liabilities,31099,17490,48589

In [32]:
symbol_handling(Lease_liability,[1,2,3])

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2,Item,Operating Leases,Finance Leases,Total
3,Gross lease liabilities,42014.0,29801.0,71815.0
4,Less: imputed interest,-6759.0,-2051.0,-8810.0
5,Present value of lease liabilities,35255.0,27750.0,63005.0
6,Less: current portion of lease liabilities,-4156.0,-10260.0,-14416.0
7,Total long-term lease liabilities,31099.0,17490.0,48589.0

In [33]:
for item in df:
    dbt = item[0].astype(str).str.contains('Less current portion of long-term debt') 
    if dbt.any():
        Debt = item

Debt

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Maturities (1),Maturities (1),Maturities (1),NaN,NaN,NaN,Stated Interest Rates,...,NaN,"December 31, 2019","December 31, 2019","December 31, 2019",NaN,NaN,NaN,"September 30, 2020","September 30, 2020","September 30, 2020"
2,2012 Notes issuance of $3.0 billion,2012 Notes issuance of $3.0 billion,2012 Notes issuance of $3.0 billion,2022,2022,2022,NaN,NaN,NaN,2.50%,...,NaN,1250,1250,NaN,NaN,NaN,NaN,1250,1250,NaN
3,2014 Notes issuance of $6.0 billion,2014 Notes issuance of $6.0 billion,2014 Notes issuance of $6.0 billion,2021 - 2044,2021 - 2044,2021 - 2044,NaN,NaN,NaN,3.30% - 4.95%,...,NaN,5000,5000,NaN,NaN,NaN,NaN,5000,5000,NaN
4,2017 Notes issuance of $17.0 billion,2017 Notes issuance of $17.0 billion,2017 Notes issuance of $17.0 billion,2023 - 2057,2023 - 2057,2023 - 2057,NaN,NaN,NaN,2.40% - 5.20%,...,NaN,17000,17000,NaN,NaN,NaN,NaN,16000,16000,NaN
5,2020 Notes issuance of $10.0 billion,2020 Notes issuance of $10.0 billion,2020 Notes issuance of $10.0 billion,2023 - 2060,2023 - 2060,2023 - 2060,NaN,NaN,NaN,0.40% - 2.70%,...,NaN,—,—,NaN,NaN,NaN,NaN,10000,10000,NaN
6,Credit Facility,Credit Facility,Credit Facility,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,740,740,NaN,NaN,NaN,NaN,413,413,NaN
7,Other long-term debt,Other long-term debt,Other long-term debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,830,830,NaN,NaN,NaN,NaN,625,625,NaN
8,Total face value of long-term debt,Total face value of long-term debt,Total face value of long-term debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,24820,24820,NaN,NaN,NaN,NaN,33288,33288,NaN
9,"Unamortized discount and issuance costs, net","Unamortized discount and issuance costs, net","Unamortized discount and issuance costs, net",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,(101),(101),NaN,NaN,NaN,NaN,(204),(204),NaN
10,Less current portion of long-term debt,Less current portion of long-term debt,Less current portion of long-term debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"(1,305)","(1,305)",NaN,NaN,NaN,NaN,(155),(155),NaN
11,Long-term debt,Long-term debt,Long-term debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,$,23414,NaN,NaN,NaN,NaN,$,32929,NaN

In [34]:
Debt = Debt.iloc[1:,[2,22,28]] # selecting the  relevant columns
Debt

,2,22,28
1,NaN,"December 31, 2019","September 30, 2020"
2,2012 Notes issuance of $3.0 billion,1250,1250
3,2014 Notes issuance of $6.0 billion,5000,5000
4,2017 Notes issuance of $17.0 billion,17000,16000
5,2020 Notes issuance of $10.0 billion,—,10000
6,Credit Facility,740,413
7,Other long-term debt,830,625
8,Total face value of long-term debt,24820,33288
9,"Unamortized discount and issuance costs, net",(101),(204)
10,Less current portion of long-term debt,"(1,305)",(155)
11,Long-term debt,23414,32929

In [35]:
header = Debt.iloc[0]
Debt = Debt[1:] #take the data less the header row
Debt.columns = header # assigning header names 
Debt.columns.values[0] = 'Item' # renaming the first column
Debt

1,Item,"December 31, 2019","September 30, 2020"
2,2012 Notes issuance of $3.0 billion,1250,1250
3,2014 Notes issuance of $6.0 billion,5000,5000
4,2017 Notes issuance of $17.0 billion,17000,16000
5,2020 Notes issuance of $10.0 billion,—,10000
6,Credit Facility,740,413
7,Other long-term debt,830,625
8,Total face value of long-term debt,24820,33288
9,"Unamortized discount and issuance costs, net",(101),(204)
10,Less current portion of long-term debt,"(1,305)",(155)
11,Long-term debt,23414,32929

In [36]:
symbol_handling(Debt,[1,2])

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1,Item,"December 31, 2019","September 30, 2020"
2,2012 Notes issuance of $3.0 billion,1250.0,1250.0
3,2014 Notes issuance of $6.0 billion,5000.0,5000.0
4,2017 Notes issuance of $17.0 billion,17000.0,16000.0
5,2020 Notes issuance of $10.0 billion,NaN,10000.0
6,Credit Facility,740.0,413.0
7,Other long-term debt,830.0,625.0
8,Total face value of long-term debt,24820.0,33288.0
9,"Unamortized discount and issuance costs, net",-101.0,-204.0
10,Less current portion of long-term debt,-1305.0,-155.0
11,Long-term debt,23414.0,32929.0

In [37]:
Balance_Sheet.reset_index(drop=True,inplace=True)
Lease_liability.reset_index(drop=True,inplace=True)
Debt.reset_index(drop=True,inplace=True)

In [38]:
Balance_Sheet

1,Item,"December 31, 2019","September 30, 2020"
0,ASSETS,NaN,NaN
1,Current assets:,NaN,NaN
2,Cash and cash equivalents,36092.0,29930.0
3,Marketable securities,18929.0,38472.0
4,Inventories,20497.0,23735.0
5,"Accounts receivable, net and other",20816.0,20832.0
6,Total current assets,96334.0,112969.0
7,"Property and equipment, net",72705.0,99981.0
8,Operating leases,25141.0,34119.0
9,Goodwill,14754.0,14960.0
10,Other assets,16314.0,20150.0
11,Total assets,225248.0,282179.0
12,LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN
13,Current liabilities:,NaN,NaN
14,Accounts payable,47183.0,58334.0
15,Accrued expenses and other,32439.0,34327.0
16,Unearned revenue,8190.0,9251.0
17,Total current liabilities,87812.0,101912.0
18,Long-term lease liabilities,39791.0,48589.0
19,Long-term debt,23414.0,32929.0
20,Other long-term liabilities,12171.0,15974.0
21,Commitments and contingencies (Note 4),NaN,NaN
22,Stockholders’ equity:,NaN,NaN
23,"Preferred stock, $0.01 par value:",NaN,NaN
24,Authorized shares — 500,NaN,NaN
25,Issued and outstanding shares — none,NaN,NaN
26,"Common stock, $0.01 par value:",NaN,NaN
27,"Authorized shares — 5,000",NaN,NaN
28,Issued shares — 521 and 525,NaN,NaN
29,Outstanding shares — 498 and 502,5.0,5.0
30,"Treasury stock, at cost",-1837.0,-1837.0
31,Additional paid-in capital,33658.0,40307.0
32,Accumulated other comprehensive income (loss),-986.0,-1029.0
33,Retained earnings,31220.0,45329.0
34,Total stockholders’ equity,62060.0,82775.0
35,Total liabilities and stockholders’ equity,225248.0,282179.0